body {
    font-family: Arial, sans-serif;
    width: 320px;
    padding: 10px;
}

h2 {
    text-align: center;
}

#totalTime {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
    padding: 5px;
    background: #f2f2f2;
    border-radius: 5px;
    font-size: 13px;
}

button {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border: none;
    background-color: #0078D7;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005fa3;
}